---
- name: Setup glow
  hosts: all
  tags: glow
  tasks:
    - name: Fetch glow
      get_url:
        url: "https://github.com/charmbracelet/glow/releases/download/v{{ glow_version }}/glow_{{ glow_version }}_amd64.deb"
        dest: "{{ inventory_dir }}/tarballs/glow_{{ glow_version }}_amd64.deb"
        mode: "0644"

    - name: Install glow
      become: true
      apt:
        deb: "{{ inventory_dir }}/tarballs/glow_{{ glow_version }}_amd64.deb"
        state: present
