---
- name: Setup mdcat
  hosts: all
  tags: mdcat
  tasks:
    - name: Download mdcat
      get_url:
        url: "https://github.com/swsnr/mdcat/releases/download/mdcat-{{ mdcat_version }}/mdcat-{{ mdcat_version }}-x86_64-unknown-linux-gnu.tar.gz"
        dest: "{{ inventory_dir }}/tarballs/mdcat-{{ mdcat_version }}-x86_64-unknown-linux-gnu.tar"
        mode: "0644"

    - name: Extract mdcat
      unarchive:
        src: "{{ inventory_dir }}/tarballs/mdcat-{{ mdcat_version }}-x86_64-unknown-linux-gnu.tar"
        dest: "{{ inventory_dir }}/tarballs"
        remote_src: true

    - name: Link mdcat
      file:
        src: "{{ inventory_dir }}/tarballs/mdcat-{{ mdcat_version }}-x86_64-unknown-linux-gnu/mdcat"
        dest: "{{ ansible_env.HOME }}/.local/bin/mdcat"
        state: link

    - name: Create local man directory
      file:
        dest: "{{ ansible_env.HOME }}/.local/share/man/man1"
        state: directory
        mode: "0755"

    - name: Copy manfile
      copy:
        src: "{{ inventory_dir }}/tarballs/mdcat-{{ mdcat_version }}-x86_64-unknown-linux-gnu/mdcat.1/mdcat.1"
        dest: "{{ ansible_env.HOME }}/.local/share/man/man1/mdcat.1"
        mode: "0644"
      register: manfile_copy

    - name: Update mandb
      become: true
      command: mandb
      when: manfile_copy.changed
      changed_when: false
